<html>
	<head>
		<title> ∆ <%= @visualAnswer%> ∆ </title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Oxygen&effect=neon>
		
		<link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Oxygen&effect=fire-animation>
		 

	</head>
	<body>

	<div class = "font-effect-neon">
		<div class = "box">
			<div class="answer">
				<h2><%= @visualAnswer%><h2>
			</div>

		</div>
	</div>
	<div class ="font-effect-fire-animation">
	( ͡° ͜ʖ ͡°) 
	</div>
	

	</body>
</html>