<html>
	<head>
		<title> ∆ <%= @visualAnswer%> ∆ </title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>

		<div class = "box">
			<div class="answer">
				<h2><%= @visualAnswer%><h2>
			</div>
		</div>
	</body>
</html>