<html>
	<head>
		<title> ∆ <%= @visualAnswer%> ∆ </title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>

		<div class="answer"></div>
			<h2><div class="font-effect-fire"><%= @visualAnswer%></div><h2>
	</div>
	</body>

</html>