<html>
	<head>Calculator</head>
	<body>
		<h1>Greetings! Welcome to our calculator program!</h1>		
		<h2>by Stanly Law, Diego de Jesus, and Alexander Wang</h2>

		<h3>Instructions:</h3>
		<h3>First enter your equation in the text box provided below</h3>
		<!-- <h3>Then hit the save button. This is keep your formula. </h3> -->
		<h3> Click the answer button and see your result! </h3>

		<textarea rows="1" cols="50">
		Write in your equation here.
		</textarea>



		<form action="/results" method="POST">
  			<input type="text" name="Equation">
  			<input type="submit">
		</form>

	</body>
</html>