<html>
	<head>
		<title>Calculator</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		 <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Oxygen&effect=3d>
	</head>
	<body>
		<div class="font-effect-3d">
		<div class = "background">
		<h1>Greetings! Welcome to our calculator program!</h1>		
		<h2> by
			<div class = "welcome">
				<div class = "stanley">Stanley Law</div><div class = "diego"> Diego De Jesus</div><div class = "alec"> and Alexander Wang</div>
			</div>

		<img src = "https://visalakshiramani.files.wordpress.com/2010/06/amicables.gif">


		<h3>Instructions:</h3>
		<h3>First enter your equation in the text box provided below</h3>
		<!-- <h3>Then hit the save button. This is keep your formula. </h3> -->
		<h3> Click the answer button and see your result! </h3>


		<form action="/answer" method="POST">
  			<input type="text" name="Equation">
  			<input type="submit">
		</form>

	</div>

	</body>
</html>