 <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Oxygen>*/

h1{
	font-family: Times;
	font-size: 50px;
}

h2{

}

h3{
	font-size: 50px;
	font-family: Times;
}

h5{

}

.welcome{
	color: #FF7519;
	font-size: 40px;

}

.stanley{
	color: #660099;
	font-size: 40px;

}

.diego{
	color: #0066CC;
	font-size: 40px;

}

.alec{
	color: #009900;
	font-size: 40px;

}

.answer{
	font-family: 'Oxygen';
	font-size: 75px;
	word-wrap: break-word;
}

.box {
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    word-wrap: break-word;
}

.font-effect-3d {
	font-family: 'Oxygen';
	color: #FFFFFF;
}

.background{
	background-color: #003300;
	color: #FFFFFF;
}

.font-effect-neon{

}

.font-effect-fire-animation{
	font-size: 50px;
}

input{
    width: 640px;
    height: 200px;
}

a{
	
}